body{
    padding: 100px;
}

.submit-area .form-control:focus {
	color: none;
	background-color: none;
	border-color: none;
	outline: 0;
	box-shadow: none;
}

.submit-area{
    margin-top: 50px;
    box-shadow: 5px 5px 10px #000;
    border-radius: 10px;
    padding: 50px;
}
#transaction-area{
    display: none;
}


.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
.deposit{
    background-color: slateblue;
}

.widthdraw{
    background-color: lightsalmon;
}
.blance{
    background-color: orange;
}